// @media only screen and (max-width: 1026px) {
//   #smallScreenMenuLanding {
//     display: none;
//   }
//   .marginTabSmallScreen {
//     margin-top: -30px;
//   }
//   .shadow-container {
//     background-color: "red";
//     display: inline;
//   }
// }
.shadow-container {
  text-align: center;
  box-shadow: 10px 10px 37px 0px rgba(122, 107, 107, 0.75);
  -webkit-box-shadow: 10px 10px 37px 0px rgba(122, 107, 107, 0.75);
  -moz-box-shadow: 10px 10px 37px 0px rgba(122, 107, 107, 0.75);
}

@media only screen and (max-width: 1026) {
  
}
